## Assignment 2 Pandas

**Instructions:** <br>
a. write your answer after `# your answer here`. Do not delete any code that is in the cell, as the code facilitates checking your answers. If you happen to delete any code that prevents expected outputs, you may lose points. <br>
b. when you finish the assignment, make sure to use `Kernel` -> `Restart and Run All` to restart the kernel and rerun the entire notebook to generate the desired outputs, before submitting your assignment. <br>
c. upload your .ipynb file. <br>
<br>
Each subquestion is worth 5 points, and the total score for assignment 2 is 75 points.

**Policy:** <br>
Assignment submitted late will receive a late penalty (30% point reduction), regardless of the reason. Empty assignment or no submission receives 0 point.


### Question 1

Use the code to simulate data and answer the questions below.

In [1]:
import pandas as pd
import numpy as np
np.random.seed(1234)
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(100, high=301, size=100, dtype='l'))
s4 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

 1. (1) Create a DataFrame `df` by concatenating the three Series s1, s2, s3 as three columns (df: 100 by 3), and then rename column names to be 'a', 'b', 'c'. Keep the first 70 rows of `df`(df: 70 by 3).<br>
 Create another DataFrame `df2` by joinning the two Series s1, s4 by column (df2: 100 by 2), and the column names should be 'A' and 'B'. Then, keep the last 50 rows of `df2`(df2: 50 by 2).

In [2]:
# Your answer here

df = pd.concat([s1,s2,s3],axis = 1)
df.columns = ['a','b','c']

df = df.head(70)

df2 = pd.concat([s1,s4],axis = 1)
df2.columns = ['A','B']
df2 = df2.tail(50)

# for grading
print(df.columns,'\n'); print(df2.columns,'\n')
print(df.index,'\n'); print(df2.index,'\n')

Index(['a', 'b', 'c'], dtype='object')

Index(['A', 'B'], dtype='object')

RangeIndex(start=0, stop=70, step=1)

RangeIndex(start=50, stop=100, step=1)

1. (2) Merge `df` and `df2` by the index values into `df3`. Note that we will only keep the intersections of the two dataframes (`df3`: 20 by 5). Additionally, drop the column in `df3` that is repetitive (`df3`: 20 by 4).

In [3]:
# Your answer here
df3 = pd.merge(df, df2,left_index=True, right_index=True).drop('a',axis=1)

# for grading
df3.head()

    b    c  A      B
50  1  168  2  19055
51  3  160  4  16122
52  1  206  4  22849
53  1  103  4  16809
54  1  275  3  29924

1. (3) Create a one column DataFrame with the values of the three Series s1, s2, s3 and assign it to 'df4' (300 by 1).

In [4]:
# Your answer here
df4 = pd.concat([s1,s2,s3],axis=0)

# for grading
print(type(df4)) #check the type of the df4
print(df4.shape) #check the shape
print(df4.tail()) #check last columns: note the index

<class 'pandas.core.series.Series'>
(300,)
95    202
96    108
97    141
98    261
99    169
dtype: int32

1. (4) Reindex the DataFrame so that the index is from 0 to 299

In [5]:
# Your answer here
df4.index = range(0,300)

# for grading
df4

0        4
1        4
2        3
3        2
4        1
      ...
295    202
296    108
297    141
298    261
299    169
Length: 300, dtype: int32

### Question 2

First, download the Olympic medal dataset (medals.csv). Use the following code to load the dataset.

The columns give information on: <br>
summer Olympic games--number of games and summer medals;  <br>
winter Olympic games--number of games and winter medals;  <br>
total Olympic games--number of games and total medals.

In [2]:
import pandas as pd
df = pd.read_csv('medals.csv', index_col=0, skiprows=0)

2. (1) Show the first 6 rows in the DataFrame.

In [3]:
# Your answer here
df.head(6)

,Summer,Gold,Silver,Bronze,Total,Winter,Gold.1,Silver.1,Bronze.1,Total.1,Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS

2. (2) Provide the shape of the DataFrame.

In [4]:
# Your answer here
df.shape

(147, 16)

2. (3) Rename the column name 'Combined total' to 'Combined Total' and then show the columns.

In [5]:
# Your answer here
df.rename(columns={'Combined total': 'Combined Total'},inplace =True)

#for grading
df.columns[14]

'Combined Total'

2. (4) Change all column names to lowercase and remove all spaces ' '.

In [6]:
# Your answer here
df1 = df.copy()
df1.columns = map(lambda x: str(x).lower().replace(' ',''),df1.columns)

# for grading
df1.columns

Index(['summer', 'gold', 'silver', 'bronze', 'total', 'winter', 'gold.1',
       'silver.1', 'bronze.1', 'total.1', 'games', 'gold.2', 'silver.2',
       'bronze.2', 'combinedtotal', 'id'],
      dtype='object')

2. (5) Which country has won the most gold medals in summer games? Provide the country name and the number of gold medals. <br>
Expected output: a tuple consisting of the country name and the number of gold medals.

In [1]:
def most_gold():
    # Your answer here
    df_g = df.copy()
    df_g = df_g[['Gold']]
    df_g = df_g.drop(index='Totals')
    countryName = df_g['Gold'].idxmax()
    goldNumber = df_g['Gold'].max()
    return countryName,goldNumber

most_gold()

NameError: name 'df' is not defined

2. (6) Which country had the largest difference between their summer and winter medal counts, relative to the total medal count? <br> Note: only include countries that have won at least 10 medals in both summer and winter. <br>
$$\frac{Summer_{Medal} - Winter_{Medal}}{Total_{Medal}}$$
Instruction: create a new copy of the DataFrame, first calculate the value as a new column named 'percent', and then **return the row information of the country as a pandas Series**, i.e.:<br> <br>
summer x<br>
gold x<br>
silver x<br>
...<br>
percent x<br>
Name: x, dtype: object

In [12]:
def max_diff():
    # Your answer here
    df_medal = df.copy()
    df_medal = df.where((df['Total']>=10) & (df['Total.1']>=10))
    df_medal= df_medal.dropna()
    df_medal['percent'] = abs((df_medal["Total"]- df_medal["Total.1"])/ df_medal["Combined Total"])
    max_country = df_medal.loc[[df_medal['percent'].idxmax()]]
    return max_country
    
max_diff()

,Summer,Gold,Silver,Bronze,Total,Winter,Gold.1,Silver.1,Bronze.1,Total.1,Games,Gold.2,Silver.2,Bronze.2,Combined Total,ID,percent
Australia,25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,AUS,0.95

2. (7) Create a new column 'country_cat' that denotes the first letter of the country name, i.e. "A" for "Afghanistan", and count the number of countries in each category. Make sure to present the results alphabetically.

In [13]:
def country_first_letter():
    # Your answer here
    df_cat = df.copy()
    df_cat = df_cat.drop(index=['Mixed team', 'Totals'])
    df_cat['country_cat'] = df_cat.index.str[0]
    df_cat = df_cat.groupby('country_cat')['ID'].aggregate('count')
    return df_cat
    
    
country_first_letter()

country_cat
A     8
B    12
C    12
D     3
E     6
F     2
G     9
H     3
I    10
J     2
K     4
L     5
M     9
N     8
P     8
Q     1
R     3
S    17
T     8
U     8
V     3
W     1
Y     1
Z     2
Name: ID, dtype: int64

### Question 3
Using the following code to read the 'census.csv' dataset, which contains population data for counties and states in US from 2010 to 2015. Counties are political and geographic subdivisions of states in US. <br>

In [14]:
import pandas as pd
census_df = pd.read_csv('census.csv')
print(census_df.shape,'\n')
print(census_df.columns, '\n')
print(census_df.tail())

(3193, 100)

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

      SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME            CTYNAME  \
3188      50       4         8     56      37  Wyoming  Sweetwater County
3189      50       4         8     56      39  Wyoming       Teton County
3190      50       4         8     56      41  Wyoming       Uinta County
3191      50       4         8     56      43  Wyoming    Washakie County
3192      50       4         8     56      45  Wyoming      Weston County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  ...  \
3188          43806              43806            43593  ...
3189          21294              21294            21297  ...
3190          21118              21118            21102  ...
3191           8533               8533             8545  ...
3192           7208               7208             7181  ...

      RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
3188          1.072643         16.243199         -5.339774        -14.252889
3189         -1.589565          0.972695         19.525929         14.143021
3190        -17.755986         -4.916350         -6.902954        -14.215862
3191        -11.637475         -0.827815         -2.013502        -17.781491
3192        -11.752361         -8.040059         12.372583          1.533635

      RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
3188        -14.248864     1.255221    16.243199    -5.295460   -14.075283
3189         -0.564849     0.654527     2.408578    21.160658    16.308671
3190        -12.127022   -18.136812    -5.536861    -7.521840   -14.740608
3191          1.682288   -11.990126    -1.182592    -2.250385   -18.020168
3192          6.935294   -12.032179    -8.040059    12.372583     1.533635

      RNETMIG2015
3188   -14.070195
3189     1.520747
3190   -12.606351
3191     1.441961
3192     6.935294

[5 rows x 100 columns]

3. (1) Which state has the largest number of counties? <br>
Note: look at the data carefully and consider the sumlevel carefully. <br>
Return a tuple that contains the name of the state and the number of counties.

In [15]:
def max_county():
    # Your answer here
    tmp = census_df[census_df['SUMLEV']==50]
    each_num_county = tmp.groupby(['STNAME'])['SUMLEV'].aggregate('count')
    num_county = each_num_county['Texas']
    max_county = each_num_county.idxmax()
    result = (max_county, num_county)
    return result
    

max_county()

('Texas', 254)

3. (2) Which **state** has had the largest absolute change in population within the period 2010-2015? (Use columns: `POPESTIMATE2010`- `POPESTIMATE2015`). <br>
For example, if the population in the 5 year period is 1300, 1400, 1100, 1500, 1200, then the largest absolute change is |1500-1100|=400 <br>
Return a tuple that contains the name of the state and the largest absolute change.<br>

In [16]:
def change_state():
    # Your answer here
    tmp = census_df[census_df['SUMLEV']==50]
    df = tmp[['STNAME','POPESTIMATE2015','POPESTIMATE2014','POPESTIMATE2013','POPESTIMATE2012','POPESTIMATE2011','POPESTIMATE2010']]
    df = df.groupby(['STNAME']).sum()
    abs_value = df.apply(lambda x: x.max() - x.min(),axis=1)
    result = (abs_value.idxmax(),abs_value.max())
    return result
    

change_state()

('Texas', 2224751)

3. (3) By looking at the top three most populous **counties** in each **state only**, what are the top three most populous **states** that has the largest population in the top three most populous counties? Use `CENSUS2010POP`. <br>
Return a pandas Series. Index: three state names. Value: the total population in the top three most populous counties (in the order of highest to lowest population).

In [17]:
def top_states():
    
    # Your answer here
    top_cnty = census_df[census_df['SUMLEV']==50]
    top_cnty = top_cnty[['STNAME','COUNTY','CENSUS2010POP']]
    top_cnty = top_cnty.sort_values(by=['STNAME','CENSUS2010POP'],ascending = [True,False]).groupby('STNAME', sort=False).head(3)
    sum_of_top3 = top_cnty.groupby('STNAME')['CENSUS2010POP'].sum()
    sum_of_top3 = sum_of_top3.sort_values(ascending=False).head(3)
    return sum_of_top3
    
    
   
# for grading
re = top_states()
print(re.index.values) #state names
print(re.values) # total population of the top three counties

['California' 'Texas' 'Illinois']
[15924150  8269632  6815061]

3. (4) Convert the `CENSUS2010POP` from numbers to strings with thousands separators (using commas). i.e. 100000 to 100,000. <br>
Return the pandas series of strings.

In [18]:
def separator():
    # Your answer here
    df4 = census_df[['CENSUS2010POP']]
    df4 = df4['CENSUS2010POP'].apply('{:,}'.format).astype('str')
    print(df4)
    
separator()

0       4,779,736
1          54,571
2         182,265
3          27,457
4          22,915
          ...
3188       43,806
3189       21,294
3190       21,118
3191        8,533
3192        7,208
Name: CENSUS2010POP, Length: 3193, dtype: object